/* ARTICLES AND TUTORIALS */

.articles,
.tutorials {
  text-align: center;
  padding: 35px 50px;
}

.articles h2,
.tutorials h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #222;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 1050px;
  margin: auto;
}

.card {
  width: 30%;
  text-align: left;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: 1px solid #555;
}

.card h3 {
  margin: 12px 0 6px;
}

.card p {
  margin: 5px 0;
}

.card hr {
  border: none;
  border-top: 2px solid #333;
}

.card-info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.see-button {
  margin-top: 30px;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  background-color: #cfcfcf;
  font-size: 16px;
  cursor: pointer;
}

.see-button:hover {
  background-color: #aaaaaa;
}


/* FOOTER */

.footer {
  margin-top: 40px;
  background-color: #07969b;
  color: #111;
}


/* SIGN UP */

.signup {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.signup h3 {
  margin: 0;
}

.signup input {
  width: 250px;
  padding: 10px;
  border: 1px solid #777;
}

.signup button {
  padding: 10px 20px;
  border: none;
  background-color: #777;
  color: white;
  cursor: pointer;
}


/* FOOTER CONTENT */

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
}

.footer-content div {
  width: 30%;
}

.footer-content h3 {
  font-size: 24px;
}

.footer-content p {
  margin: 10px 0;
}


/* FOOTER BOTTOM */

.footer-bottom {
  text-align: center;
  padding: 20px;
}

.footer-bottom h3 {
  font-size: 24px;
}

.footer-bottom span {
  margin: 0 30px;
}